<!DOCTYPE html>
<html>
<head>
<title>Referral Program form a Flat Responsive Widget Template :: w3layouts</title>
<!-- metatags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Referral Program form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="/static/login/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--style_sheet-->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900" rel="stylesheet"><!--online_fonts-->
<link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet"><!--online_fonts-->
</head>
<body>
<h1>冷云内部接口测试平台</h1>
<div class="w3ls-main">
<h2>Referral Program</h2>
<p>Get free stuff if your referral becomes our customer</p>
<div class="w3ls-form">
<form action="/" method="POST">
    {{ form.csrf_token }}
<ul class="fields">
<div class="Refer_w3l">
<h3>Your details</h3>
	<li>	
		<label class="w3ls-opt">username<span class="w3ls-star"> * </span></label>
		<div class="w3ls-name">	
			<input type="text" name="username"  placeholder="username" required=" "/>
		</div>
	</li>
	<li>
		<label class="w3ls-opt">password<span class="w3ls-star"> * </span></label>
		<div class="w3ls-name">
			<input type="text" name="password"  placeholder="password" required=" "/>
		</div>
	</li>
	<li>
		<div class="mail">
			<label class="w3ls-opt">e-mail<span class="w3ls-star"></span></label>
			<span class="w3ls-text w3ls-name">
				<input type="email" name="email" placeholder="enter your e-mail" />
			</span>
		</div>
	</li>
</div>
</ul>
<div class="clear"></div>
	<div class="w3ls-btn">
		<input type="submit" value="注册/登录">
	</div>

</form>
</div>
</div>
<footer>&copy; 给监测器发送模拟数据请前往<a href="http://192.168.3.149:9900/home"> 数据发送工具</a></footer>
</body>
</html>